.contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

     @include respond(md) {
        grid-template-columns: 0.75fr 1.8fr;
        gap: 24px;
    }

    @include respond(lg) {
        grid-template-columns: 0.75fr 1.8fr;
        align-items: start;
    }

    &__info {
        h2 {
            font-size: 2rem;
            color: $dark-red;
            margin-bottom: 18px;
        }

        p {
            font-size: 1rem;
            line-height: 1.8;
            color: $middle-red;
            margin-bottom: 18px;
        }

        a {
            display: block;
            width: fit-content;
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 10px;
            color: $dark-red;
        }
    }

    &__form {
        input,
        textarea {
            width: 100%;
            font-size: 0.9rem;
            border: none;
            background: $input-bg;
            padding: 14px 16px;
            margin-bottom: 14px;
            color: $dark-red;

            &::placeholder {
                color: $input-muted;
            }
        }

        textarea {
            resize: vertical;
            min-height: 200px;
        }

        button {
            font-size: 1rem;
            min-width: 120px;
            padding: 12px 24px;
            border: 2px solid black;
            background: transparent;
            font-weight: 600;
            cursor: pointer;
            transition: 0.25s ease;

            &:hover {
                background: $dark-red;
                color: white;
            }
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr;

        @include respond(xs) {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
    }
}