img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
}

.content {
    width: calc(100% - $sidebar-width);
    margin-left: $sidebar-width;
}

.section {
    padding: 56px 32px 25px;
}

.footer {
    padding: 32px;
    text-align: center;
    color: $dark-red;
    font-size: 0.95rem;

    a:hover {
        text-decoration: underline;
    }
}