.page {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100dvh;

    @include respond(md) {
        display: flex;
    }
}

.content {
    width: 100%;
    margin-left: 0;

    @include respond(md) {
        width: calc(100% - #{$sidebar-width});
        margin-left: $sidebar-width;
    }
}

.section {
    padding: 56px 32px 25px;

    @include respond(xs) {
        padding: 30px 12px 20px;
    }

    @include respond(sm) {
        padding: 40px 24px 24px;
    }

    @include respond(md) {
        padding: 56px 32px 25px;
    }
}