$main-font: 'Poppins', sans-serif;

$bp-xs: 280px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$main-bg: #f3f3f3;
$sidebar-bg: #f7f7f7;
$input-bg: #e9e9e9;
$input-muted: #999;
$dark-red: #800517;
$light-red: #DC143C;

$sidebar-width: 150px;
$header-height: 80px;
